doctype html
html(ng-app='realTimePolls')
  head
    title= title
    script(
      src='https://code.jquery.com/jquery-3.2.1.min.js', 
      integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
      crossorigin='anonymous'
    )
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block head

  body
  
    include partials/navigation

    div.container
      block content

  block scripts