body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:black;
}

a {
  color: #00B7FF;
}

h1,h2,h3 {
  color:red;
}

.chatbox {
  border:1px solid white;
  border-radius: 6px;
  width:100%;
  height: 400px;
  overflow-y: scroll;
}

.chatbox ul li {
  margin-bottom: 3%;
}

#reportForm {
  display: none;
}

table tr {
  background: white;
}

/*#canvasChart {
  max-height: 300px;
}*/